header h2 {
  float: none;
  text-align: center;
}

header ul {
  float: none;
  text-align: center;
}

header ul li {
  float: none;
  font-weight: bolder;
  text-align: center;
}

header ul li a {
  padding: 5px;
}

#home-info {
  height: 450px;
}

#home-info .info-img {
  display: none;
}

#home-info .info-content {
  width: 100%;
  float: none;
}

#home-info .info-content p {
  padding-bottom: 22.5px;
  color: #fff;
  line-height: 1.9em;
  font-size: 18.5px;
}

/* bottom section */

.box {
  float: none;
  width: 100%;
  padding: 15.5px;
  text-align: center;
  background-color: #fff;
}

.box p,
.box h3,
.box img {
  position: relative;
  top: 22%;
}
